body {
    font-family: 'Poppins', sans-serif !important;
    background-color: rgb(44, 40, 40)!important;
    color: whitesmoke;
}

.top, .submit, .card-content, .card-action {
    background-color: rgb(19, 60, 126) !important;
}

.name, .imgLink, .about {
    font-weight: bolder;
}

.submit, .link {
    color: gray !important;
    font-weight: bolder;
}

.middle {
    background-color: gray!important;
}

input, .done {
    color: whitesmoke;
    font-weight: bold;
}

.input-field label {
    color: whitesmoke;
    font-weight: bold;
}

.input-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus+label {
    color: rgb(255, 217, 0);
}

.browser-default, .browser-default>option {
    color: gray !important;
    font-weight: bolder;
}

.title {
    color: black !important;
    border-bottom: 1pt solid;
}

.friends, .friendImages {
    display: table-caption !important;
    color: black !important;
}

.modal-footer, .modal-content {
    background-color: rgb(19, 60, 126) !important;
}

.modal-error {
    text-align: center !important;
    border-bottom: 1pt solid;
}

.error {
    text-align: center !important;
}